.idea/libraries/Gradle__androidx_databinding_databinding_adapters_3_4_1_aar.xml
.idea/libraries/Gradle__androidx_databinding_databinding_common_3_4_1.xml
.idea/libraries/Gradle__androidx_databinding_databinding_runtime_3_4_1_aar.xml
